{% extends "base.html" %}
{% load static %}
{% block extra_title %}
Home
{% endblock %}
{% block content %}
<section id="landing-jumbo" class="vh-100 pt-5">
<div class="text-center pt-5">
    <img class="my-5" src="https://dewey.tailorbrands.com/production/brand_version_mockup_image/891/3754857891_060e96e4-6712-43aa-89c7-bb8faebf5252.png?cb=1600440684">
</div>
<div class="text-center mt-5">
    <a class="btn btn-info btn-lg px-5 mt-5 btn-grad" style="border: 1px solid white">SHOP NOW</a>
</div>
</section>
{% endblock %}