{% extends "base.html" %}
{% load static %}
{% block extra_title %} PROFILE {% endblock %}
{% block content %}
<section class="min-vh-100 bg-kor-blue-grad">
    <!-- Top Banner-->
    <hr class="my-0 bg-kor-blue-grad">
    <div class="py-1 my-auto px-3" style="background-color: #ffffff;">
        <div class="d-flex justify-content-between">
            <h6 class="pt-2 text-blue uppercase font-weight-normal">Profile</h6>
        </div>
    </div>
    <!-- Profile Detail -->
    <div class="container">
        <div class="row">
            <div class="col-10 offset-1 bg-white mt-5">
                <h5 class="text-blue mt-3">Profile</h5>
            </div>
        </div>
    </div>
</section> 
{% endblock %}