{% extends "base.html" %}
{% load static %}
{% block extra_title %} Profile {% endblock %}
{% block content %}
<section class="min-vh-100 mt-5">
    <!-- Profile Detail -->
    <div class="container pb-5">
        <div class="row">
            <div class="col-10 offset-1 col-lg-6 offset-lg-0 mt-5">
            <div class="bg-white mx-3 py-5 border-purple rounded-1 card">
                <h2 class="text-blue text-center uppercase mt-3 mb-5">Profile Details</h2>
                <div class="row">
                    <div class="col-10 offset-1">
                        <form class="text-center" method="POST" action="{% url 'profile' %}" id="profile-update-form">
                        {% csrf_token %}
                            <div class="form-group">
                                {{ form.profile_full_name }}
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control rounded-0" disabled value="{{ user.email }}">
                                {{ form.profile_phone_number }}
                            </div>
                            <div class="form-group">
                                {{ form.profile_street_address1 }}
                                {{ form.profile_street_address2 }}
                                {{ form.profile_town_or_city }}
                                {{ form.profile_county }}
                                {{ form.profile_postcode }}
                                {{ form.profile_country }}
                            </div>
                            <button type="submit" class="uppercase btn kor-btn-hover colour-darker px-5 mb-2">Update Profile</button>
                        </form>
                    </div>
                </div>
            </div>
            </div>
            <div class="col-10 offset-1 col-lg-6 offset-lg-0 mt-5">
                <div class="bg-white mx-3 py-5 border-purple rounded-1 card">
                    <h2 class="text-blue text-center uppercase mt-3 mb-5">Order History</h2>
                    <div class="ml-5 mr-3" id="order-history-container">
                        <div class="row no-gutters">
                        {% if not orders %}
                            <div class="col-12">
                                <div class="text-center">
                                    <p>As soon as you've made an order through your account, a copy of it will appear here.</p>
                                     <a class="uppercase btn kor-btn-hover colour-darker px-5 my-2" href="{% url 'products' %}">Shop Now</a>
                                </div>
                            </div>
                        {% else %}
                        <table class="table">
  <thead class="bg-blue text-white">
    <tr>
        <th scope="col"><small><i class="fas fa-link fa-sm"></i> Reference</small></th>
        <th scope="col"><small>Order Date</small></th>
        <th scope="col"><small>Order total</small></th>
        <th scope="col"><small>Dispatched</small></th>
    </tr>
  </thead>
  <tbody>
  {% for order in orders reversed %}
    <tr>
      <td title="{{ order.order_reference }}"><small><a class="text-muted" href="{% url 'order_history' order.order_reference %}">{{ order.order_reference|truncatechars:10}}</a></small></td>
      <td title="{{ order.date }}"><small>{{ order.date|truncatewords:1 }}</small></td>
      <td><small>£{{ order.order_total }}</small></td>
      {% if order.dispatched %}
      <td><small><i class="fas fa-check-circle text-success"></i></small></td>
      {% else %}
      <td><small><i class="fas fa-times-circle text-danger"></i></small></td>
      {% endif %}
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> 
{% endblock %}