/* 
    css for the stripe payment element
    https://stripe.com/docs/payments/integration-builder --> global.css
*/

.StripeElement,
.stripe-style-input {
  height: 40px;
  padding: 10px 12px;
  border: 1.5px solid #93bac0;
  border-radius: 0px;
  background-color: white;
  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus,
.stripe-style-input:focus,
.stripe-style-input:active {
  box-shadow: 0 1px 3px 0 #cfd7df;
  border: 1px solid #17a2b8;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

.stripe-style-input::placeholder {
    color: #aab7c4;
}

select,
select option {
    color: #000;
    padding: 0px 12px !important;
}

select:invalid,
select option[value=""] {
    color: #aab7c4 !important;
}
.fieldset-label {
    position: relative;
    right: .5rem;
}

#payment-form .form-control,
#card-element {
    border: 1.5px solid #93bac0;
}

/* payment processing overlay */
#payment-processing-overlay {
	position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 9999;
    opacity: 0.75;
}

.loading-spinner {
	display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 100%;
}