{% extends "base.html" %}
{% load static %}
{% block extra_title %} {{ post.title }} {% endblock %}
{% block content %}
<section class="min-vh-100">
     <div class="container pb-3 pt-5">
        <div class="row">
            <div class="col-10 col-lg-8 offset-1 offset-lg-2">
                <div class="bg-white mt-5 rounded-1 card rounded-1 border-purple">
                    <div class="text-center mx-5 mt-5">
                        <img class="vh10 mb-2" src="https://dd28f10f-e884-4a67-a583-4e937cf389a6.ws-eu01.gitpod.io/mini-browser/workspace/korcbd/media/KOR%20Logo%20%281%29.png" alt="">
                        <h2 class="text-blue">{{ post.title }}</h2>
                        <h5 class="text-blue uppercase mt-3">{{ post.author.first_name }} {{ post.author.last_name }}</h5>
                        <p class="lead text-muted">{{ post.date }}</p>
                        <p class="text-justify lead">{{ post.body }}</p>
                        <div class="mt-2 text-left">
                            <a href="{% url 'tag' post.tag_1|slugify %}" class="btn kor-btn-hover colour-darker"><i class="fas fa-tag px-1 fa-xs"></i> {{ post.tag_1 }} </a>
                            <a href="{% url 'tag' post.tag_2|slugify %}" class="btn kor-btn-hover colour-darker"> <i class="fas fa-tag px-1 fa-xs"></i> {{ post.tag_2 }} </a>
                            <a href="{% url 'tag' post.tag_3|slugify %}" class="btn kor-btn-hover colour-darker"> <i class="fas fa-tag px-1 fa-xs"></i> {{ post.tag_3 }} </a> 
                        </div>
                        <div class="mt-2 text-left">
                            <a class="btn kor-btn-hover colour-darker uppercase" href="{% url 'blog' %}"><i class="fas fa-arrow-left fa-sm"></i> Back to Blog</a>
                        </div>
                        {% if request.user.is_superuser %}
                        <div class="mt-2 text-left">
                            <a href="{% url 'edit_post' post.pk %}" class="btn btn-sm btn-info uppercase">Edit</a>
                            <a href="{% url 'delete_post' post.pk %}" class="btn btn-sm btn-danger uppercase">Delete</a>
                        </div>
                        {% endif %}
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-12">
                            <div class="mx-5 mb-2">
                                <form action="{% url 'heart_post' post.pk %}" method="POST" class="d-inline-block">
                                {% csrf_token %}
                                {% if user %}
                                {% if not heart_bool %}
                                <button class="btn text-blue pr-1 pb-3" type="submit" name="post_id" value="{{ post.id }}"><i class="fas fa-heart fa-lg"></i></button><span class="small text-muted">{{ hearts_number }}</span>
                                {% else %}
                                <button class="btn text-danger pr-1 pb-3" type="submit" name="post_id" value="{{ post.id }}"><i class="fas fa-heart fa-lg"></i></button><span class="small text-danger">{{ hearts_number }}</span>
                                {% endif %}
                                {% else %}
                                <a href="#" class="btn disabled pr-1 pb-3" type="submit" name="post_id" value="{{ post.id }}"><i class="fas fa-heart fa-lg"></i></a> | Login to Like
                                {% endif %}
                                </form>
                                <a href="#comments-section" class="btn text-blue pr-0 pb-3"><i class="fas fa-comment-alt fa-lg"></i></a> <span class="small text-info">{{ post.comments.all | length }}</span>
                            </div>
                            <div class="mx-5 mb-2">
                                <h5 class="text-blue uppercase my-3">Comments ({{ post.comments.all|length }})</h5>
                                <form action="{% url 'add_comment' post.pk %}" method="POST">
                                    {% csrf_token %}
                                    <input type="hidden" name="author" id="author" value="{{ user.id }}">
                                    <input class="form-control" rows="4" placeholder="Write a comment here" id="comment_body" name="comment_body">
                                    <button class="btn kor-btn-hover colour-darker px-4" type="submit" name="post_to_comment_id" value="{{ post.id }}">Post Comment</button>
                                </form>
                            </div>
                            {% for comment in post.comments.all %}
                            <div class="mx-5 mb-2">
                                <hr>
                                <h6 class="text-blue uppercase"><small>{{ comment.author.first_name }} {{ comment.author.last_name }}</small></h6>
                                <h6 class="uppercase text-muted"><small>{{ comment.date }}</small></h6>
                                <p class="text-muted px-2 text-justify">{{ comment.comment_body }}</p>
                                {% if request.user.is_superuser %}
                                <form method="POST" action="{% url 'delete_comment' post.id %}" class="px-2">
                                    {% csrf_token %}
                                    <input type="hidden" name="comment_id" value="{{ comment.id }}">
                                    <button class="btn btn-danger btn-sm uppercase" type="submit">Delete Comment</button>
                                </form>
                                {% endif %}
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>     
</section>
{% endblock %}