{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container-fluid bg-green-animated vh-100">
     <div class="container pb-3 pt-5">
     <div class="row">
        <div class="col-10 col-md-6 offset-1 offset-md-3">
            <div class="bg-white mt-5 rounded text-center">
                <h1 class="display-4 text-success">Delete Post</h1>
                <p class="lead"> Are you sure you want to delete the post:</p>
                <p class="lead text-danger"> "{{ post.title }}"</p>
                <div class="form-group">
                    <form method="POST" class="mt-5">
                    {% csrf_token %}
                    <button class="btn btn-danger mb-5">Yes, Delete</button>
                    </form>
                </div>
            </div>
        </div>
     </div>
    </div>
</div>

{% endblock %}