{% extends "base.html" %}
{% load static %}
{% block extra_title %} Edit "{{ post.title }}" {% endblock %}
{% block content %}
<section class="min-vh-100">
     <div class="container pb-3 pt-5 mb-5">
        <div class="row">
            <div class="col-10 col-lg-8 offset-1 offset-lg-2">
                <div class="bg-white mt-5 rounded text-center card rounded-1 border-purple">
                    <div class="text-center">
                    <img class="vh10 my-2" src="{{ MEDIA_URL }}logo-purple.png" alt="">
                        <h2 class="text-blue uppercase">Edit Post</h2>
                        <h4><a href="{% url 'blog_post' post.pk %}" class="text-muted uppercase">"{{ post.title }}"</a></h4>
                    </div>
                    <div class="form-group">
                        <form method="POST" class="mt-5 px-5">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <button class="btn kor-btn-hover colour-darker uppercase my-3">Update Post</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
<section>
{% endblock %}