{% extends "account/base.html" %}
{% block extra_title %} Log In {% endblock %}
{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Log In" %}{% endblock %}

{% block allauth_inner_content %}
<div class="text-center">
    <img class="vh10 my-2" src="{{ MEDIA_URL }}logo-purple.png" alt="">
    <h2 class="text-center text-blue uppercase font-weight-bold">{% trans "Log In" %}</h2>
</div>

<form class="login text-center mt-4 py-2" method="POST" action="{% url 'account_login' %}">
  {% csrf_token %}
  <div class="form-group mb-4">
    {{ form.login }}
  </div>
  <div class="form-group mb-4">
    {{ form.password}}
  </div>
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <button class="primaryAction btn kor-btn-hover colour-darker px-5 uppercase mb-2" type="submit">{% trans "Sign In" %}</button>
  <hr>
  <a class="button secondaryAction text-muted" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
</form>
{% get_providers as socialaccount_providers %}

{% if socialaccount_providers %}
<p>{% blocktrans with site.name as site_name %}Please sign in with one
of your existing third party accounts. Or, <a href="{{ signup_url }}">sign up</a>
for a {{ site_name }} account and sign in below:{% endblocktrans %}</p>

<div class="socialaccount_ballot">

  <ul class="socialaccount_providers">
    {% include "socialaccount/snippets/provider_list.html" with process="login" %}
  </ul>

  <div class="login-or">{% trans 'or' %}</div>

</div>

{% include "socialaccount/snippets/login_extra.html" %}

{% else %}
<p class="text-center">{% blocktrans %} Don't have an account yet?
<a href="{{ signup_url }}" class="text-muted">Sign Up!</a>{% endblocktrans %}</p>
{% endif %}

{% endblock %}
