{% extends "account/base.html" %}
{% block extra_title %} Log Out {% endblock %}
{% load i18n %}

{% block head_title %}{% trans "Log Out" %}{% endblock %}

{% block allauth_inner_content %}

<div class="text-center">
    <img class="vh10 my-2" src="{{ MEDIA_URL }}logo-purple.png" alt="KOR CBD company logo">
    <h2 class="text-center text-blue uppercase font-weight-bold">{% trans "Log Out" %}</h2>
</div>
<p class="text-center">{% trans 'Are you sure you want to log out?' %}</p>

<form method="post" action="{% url 'account_logout' %}" class="text-center">
  {% csrf_token %}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
  {% endif %}
  <button class="primaryAction btn kor-btn-hover colour-darker px-5 uppercase mb-2" type="submit">{% trans 'Log Out' %}</button>
</form>


{% endblock %}
