{% extends "account/base.html" %}
{% block extra_title %} Change Password {% endblock %}
{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block allauth_inner_content %}
    <div class="text-center">
        <img class="vh10 my-2" src="{{ MEDIA_URL }}logo-purple.png" alt="KOR CBD company logo">
        <h2 class="text-center text-blue uppercase font-weight-bold">{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h2>
    </div>
    {% if token_fail %}
        {% url 'account_reset_password' as passwd_reset_url %}
        <p class="text-center">{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
    {% else %}
        {% if form %}
            <form method="POST" action="{{ action_url }}" class="text-center">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" name="action" value="{% trans 'change password' %}" class="primaryAction btn kor-btn-hover colour-darker px-5 uppercase my-2"/>
            </form>
        {% else %}
            <p class="text-center">{% trans 'Your password is now changed.' %}</p>
        {% endif %}
    {% endif %}
{% endblock %}
