{% extends "account/base.html" %}
{% block extra_title %} Change Password {% endblock %}
{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block allauth_inner_content %}
    <div class="text-center">
        <img class="vh10 my-2" src="{{ MEDIA_URL }}logo-purple.png" alt="">
        <h2 class="text-center text-blue uppercase font-weight-bold">{% trans "Password Changed" %}</h2>
    </div>
    <p class="text-center">{% trans 'Your password is now changed.' %}</p>
{% endblock %}
