{% extends "account/base.html" %}
{% block extra_title %} Change Password {% endblock %}
{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block allauth_inner_content %}
    <div class="text-center">
        <img class="vh10 my-2" src="https://dd28f10f-e884-4a67-a583-4e937cf389a6.ws-eu01.gitpod.io/mini-browser/workspace/korcbd/media/KOR%20Logo%20%281%29.png" alt="">
        <h2 class="text-center text-blue uppercase font-weight-bold">{% trans "Change Password" %}</h2>
    </div>
    <form method="POST" action="{% url 'account_change_password' %}" class="password_change text-center mt-4 py-2">
        {% csrf_token %}
        <div class="form-group mb-4">
        {{ form.oldpassword }}
        </div>
        <div class="form-group mb-4">
        {{ form.password1 }}
        </div>
        <div class="form-group mb-4">
        {{ form.password2 }}
        </div>
        <button class="primaryAction btn kor-btn-hover colour-darker px-5 uppercase mb-2" type="submit" name="action">{% trans "Change Password" %}</button>
    </form>
{% endblock %}
