{% extends "account/base.html" %}
{% block extra_title %} Sign Up {% endblock %}
{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign Up" %}{% endblock %}

{% block allauth_inner_content %}
<div class="text-center">
    <img class="vh10 my-2" src="{{ MEDIA_URL }}logo-purple.png" alt="">
    <h2 class="text-center text-blue uppercase font-weight-bold">{% trans "Sign Up" %}</h2>
</div>
<form class="signup text-center mt-4 py-2" id="signup_form" method="post" action="{% url 'account_signup' %}">
  {% csrf_token %}
  <div class="form-group mb-4">
    {{ form.email }}
  </div>
  <div class="form-group mb-4">
    {{ form.email2 }}
  </div>
  <div class="form-group mb-4">
    {{ form.username }}
    </div>
  <div class="form-group mb-4">
    {{ form.password1 }}
    </div>
  <div class="form-group mb-4">
    {{ form.password2 }}
    </div>
    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}
    <!-- Display Sign Up Errors -->
    {% if form.errors %}
    <div class="text-center text-danger">
        <p><i class="fas fa-exclamation-triangle"></i></p>
        {% for key, value in form.errors.items %}
            <p>{{ value }}</p>
        {% endfor %}
    </div>
    {% endif %}
  <button class="primaryAction btn kor-btn-hover colour-darker px-5 uppercase mb-2" type="submit">{% trans "Sign Up" %}</button>
</form>
<hr>
<p class="text-center">{% blocktrans %} Already have an account?
<a href="{{ login_url }}" class="text-muted">Sign In!</a>{% endblocktrans %}</p>

{% endblock %}
