{% extends "base.html" %}
{% load static %}
{% block extra_title %} Shop {% endblock %}
{% block page_header %}
    <hr class="my-0 hr-purple">
    <div class="py-1 my-auto px-3 bg-white mb-5">
        <div class="d-flex justify-content-between">
            <!-- info about products being viewed-->
            <h6 class="uppercase mt-1 d-none d-md-block"><small><a href="{% url 'products' %}" class="text-blue">All Products</a>{% if query_term %} <i class="fas fa-angle-double-right"></i> {{ query_term }}{% endif %}{% if category_name %} <i class="fas fa-angle-double-right text-muted"></i> {{ category_name }}{% endif %}<span class="font-weight-normal"> ({{ products | length }} product{{products|pluralize}})</span></small></h6>
            <!-- sort/search fields -->
            <div class="d-none d-md-block">
                    {% if not query_term %}
                    <div class="mr-4 d-none d-lg-inline-block">
                            {% if direction != 'desc' %}
                                {% if category_name %}
                                <a type="button" href="{% url 'products' %}?category={{ category_name }}&sort=price&direction=desc" class="btn kor-btn-hover colour-darker btn-sm px-4">
                                Low <i class="fas fa-caret-right"></i> High 
                                </a>
                                {% else %}
                                <a type="button" href="{% url 'products' %}?sort=price&direction=desc" class="btn kor-btn-hover colour-darker  btn-sm px-4">
                                Low <i class="fas fa-caret-right"></i> High 
                                </a>
                                {% endif %}
                            {% else %}
                            {% if category_name %}
                                <a type="button" href="{% url 'products' %}?category={{ category_name }}&sort=price&direction=asc" class="btn kor-btn-hover colour-darker  btn-sm px-4">
                                High <i class="fas fa-caret-right"></i> Low 
                                </a>
                                {% else %}
                                <a type="button" href="{% url 'products' %}?sort=price&direction=asc" class="py-1 btn kor-btn-hover colour-darker  btn-sm px-4">
                                High <i class="fas fa-caret-right"></i> Low
                                </a>
                                {% endif %}
                            {% endif %}
                    </div>
                    {% endif %}
                    <div class="d-inline-block mr-2">
                        <button type="button" class="btn kor-btn-hover colour-darker dropdown-btn-rounded dropdown-toggle  btn-sm px-4 mr-3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Categories
                        </button>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" href="{% url 'products' %}?category=gels" type="button">Gels</a>
                            <a class="dropdown-item" href="{% url 'products' %}?category=creams" type="button">Creams</a>
                            <a class="dropdown-item" href="{% url 'products' %}?category=gummies" type="button">Gummies</a>
                            <a class="dropdown-item" href="{% url 'products' %}?category=capsules" type="button">Capsules</a>
                            <a class="dropdown-item" href="{% url 'products' %}?category=oils" type="button">Oils</a>
                            <a class="dropdown-item" href="{% url 'products' %}?category=soaps,bath" type="button">Soaps & Bath</a>
                        </div>
                    </div>
                    <form method="GET" action="{% url 'products' %}" class="form-inline d-none d-md-inline-block">
                            <div class="">
                                <input class="form-control form-control-sm " name="search_q" type="search" placeholder="Search Products" aria-label="Search">
                                <button class="btn btn-sm kor-btn-hover colour-darker my-2 my-sm-0 " type="submit">Search</button>
                            </div>
                    </form>
            </div>
        </div>
        <!-- Small screen search -->
        <h6 class="uppercase mt-1 d-block d-md-none text-center"><a href="{% url 'products' %}" class="text-blue">All Products</a>{% if query_term %} <i class="fas fa-angle-double-right"></i> {{ query_term }}{% endif %}{% if category_name %} <i class="fas fa-angle-double-right text-muted"></i> {{ category_name }}{% endif %}<span class="font-weight-normal"> ({{ products | length }} product{{products|pluralize}})</span></h6>
            <div class="d-block d-md-none mt-3 text-center">
                <form method="GET" action="{% url 'products' %}" class="form-inline">
                <input class="form-control form-control-sm  input-sm d-inline-block w-100 text-center" name="search_q" type="search" placeholder="Search Products" aria-label="Search">
                <button class="btn kor-btn-hover colour-darker  my-sm-0 mx-0 btn-sm d-inline-block w-100" type="submit">Search</button>
                </form>
            </div>
    </div>
    <hr class="mt-0 hr-purple p-02 mb-5">
{% endblock %}
{% block content %}
<section class="min-vh-100 pt-md-5 mt-5">
    <!-- Products -->
    <div class="container pb-5">
        <div class="d-block d-md-none vh10 mb-5"></div>
        <div class="row">
        {% if not products %}
        <div class="col-12 col-md-6 offset-md-3 col-lg-4 offset-lg-4">
            <div class="text-center mt-5 bg-white border-purple card p-5">
                <h2 class="text-blue uppercase">No Products Found</h2>
                <p>Sorry, it doesn't look like we have any products that match your query.</p>
                <a class="uppercase btn kor-btn-hover colour-darker px-5 my-2" href="{% url 'products' %}">All Products</a>
            </div>
        </div>
        {% endif %}
        {% for product in products %}
            {% if product.stock_qty > 0 %}
                <div class="col-10 offset-1 col-sm-6 offset-sm-0 col-lg-4 col-xl-3">
                    <div class="card mt-5 rounded-1 text-center border-purple">
                        <div class="card-img-top">
                        <a href="{% url 'product_detail' product.pk %}">
                            <img class="card-img-top" src="{{ product.image_url }}" alt="product image for {{ product.name }}">
                        </a>
                        </div>
                        <div class="card-body">
                            <h6 class="card-title text-blue uppercase">{{ product.name }}</h6>
                            <p class="card-text">£{{ product.price }}</p>
                            <a href="{% url 'product_detail' product.pk %}" class="btn btn-sm w-100 uppercase kor-btn-hover colour-darker py-2">View Product</a>
                            {% if request.user.is_superuser %}
                            <hr>
                            <a href="{% url 'edit_product' product.id %}" class="btn btn-sm btn-info ">Edit</a>
                            <a href="{% url 'delete_product' product.id %}" class="btn btn-sm btn-danger ">Delete</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
        </div>
    </div>
</section> 
{% endblock %}