{% extends "base.html" %}
{% load static %}
{% block extra_title %} SHOP {% endblock %}
{% block content %}
<section class="min-vh-100 bg-kor-blue-grad">
    <!-- Top Banner-->
    <hr class="my-0 bg-kor-blue-grad">
     <div class="py-1 my-auto px-3" style="background-color: #ffffff;">
            <div class="d-flex justify-content-between">
                <h6 class="pt-2 text-blue uppercase font-weight-normal">SHOP</h6>
                <form method="GET" action="{% url 'search_products' %}" class="form-inline d-none d-md-block">
                        <div class="form-group pt-1">
                            <input  style="border: 1px solid blue;" class="form-control form-control-sm mr-sm-2 rounded-0" name="search_q" type="search" placeholder="Search Products" aria-label="Search">
                            <button style="border: 1px solid blue;" class="btn btn-sm btn-outline-info my-2 my-sm-0 rounded-0" type="submit">Search</button>
                        </div>
                </form>
            </div>
            <div class="d-block d-md-none">
            <form method="GET" action="{% url 'search_products' %}" class="form-inline">
                <div class="form-group">
                    <input class="form-control  form-control-sm mr-sm-1 rounded-0 input-sm" name="search_q" type="search" placeholder="Search Products" aria-label="Search">
                    <button class="btn btn-outline-info rounded-0 my-2 my-sm-0 btn-sm " type="submit">Search</button>
                </div>
            </form>
        </div>
    </div>
    <!-- Productss -->
    <div class="container">
        <div class="row">
        {% for product in products %}
            <div class="col-10 offset-1 col-sm-6 offset-sm-0 col-lg-4 col-xl-3">
                <div class="card mt-5 rounded-0">
                    <a href="{% url 'product_detail' product.pk %}">
                        <img class="card-img-top" src="{{ product.image_url }}" alt="Card image cap" style="max-height: 30vh">
                    </a>
                    <hr class="my-0 bg-kor-blue-grad"> 
                    <div class="card-body">
                        <h5 class="card-title">{{ product.name }}</h5>
                        <p class="card-text">£{{ product.price }}</p>
                        <a href="{% url 'product_detail' product.pk %}" class="btn btn-outline-info rounded-0">View Product</a>
                    </div>
                    </div>
            </div>
        {% endfor %}
        </div>
    </div>
</section> 
{% endblock %}