<div class="toast" role="alert" data-autohide="false">
  <div class="toast-header bg-kor-blue-grad">
    <strong class="mr-auto text-white">Toast Success</strong>
    <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="toast-body">
    <div class="row">
        <div class="col">
            {{ message }}
        </div>
    </div>
    {% if total and not viewing_profile_page %} 
        <hr class="bg-kor-blue-grad">
        <p class="font-weight-bold">Your Cart: </p>
        <div id="cart-preview-wrapper">
            {% for product in cart_items %}
            <div class="row">
                <div class="col-3">
                    <img src="{{ product.product.image_url }}" alt="" style="height: 50px;">
                </div>
                <div class="col-9">
                    <p>{{ product.product.name }} x {{ product.quantity }}</p>
                    <p>£{{ product.subtotal }}</p>
                </div>
            </div>
            {% endfor %}
            <div class="row">
            <div class="col">
                <p>Total: £{{ total }}</p>
                <a href="{% url 'checkout' %}" class="btn btn-sm btn-outline-info mb">Secure Checkout</a>
            </div>
            </div>
        </div>
    {% endif %}
  </div>
</div>